<!--The content below is only a placeholder and can be replaced.-->
<div class="heading">Welcome to {{ heading }}.</div>
<div>
	<div class="column right">
		<!-- <app-user></app-user> -->
		<app-user (selectedUser)="onSelect($event)"></app-user>
	</div>

	<div class="column left">
		<!-- <app-circle></app-circle> -->
		<app-circle (selectedCircle)="onSelect($event)"></app-circle>
	</div>

	<div class="column middle">
		<!--   <app-message></app-message> -->
		<app-message [messageObj]="currentSelected"></app-message>
	</div>


</div>
